.footer {
  margin-top: 24px;

  display: flex;
  flex-direction: column;

  background: #f2f2f2;
}

.footer__section:not(:first-child) {
  border-top: 1px solid #e4e4e4;
}

.footer__location {
  color: #5f6368;
  font-size: 16px;

  padding: 10px 12px;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #5f6368;
  font-size: 13px;

  padding: 10px;
}

.footer__links span:not(:first-child) {
  margin-left: 27px;
}
